$theme-colors: (
  black-color: #000000,
  primary-text-color: #757575,
  secondary-text-color: #4b4b4b,
  white-color: #ffffff,
  off-white-color: #fafff9,
  green-color: #5ea758,
  bluey-grey-color: #9a9b9f,
  heading-color: #333333,
  grey98-color: #fafafa,
  grey-light-color: #d8d8d8,
  grey-color: #dbdbdb,
  toggle-btn-dark-color: rgba(94, 167, 88, 0.2),
  blue-color: #6236ff,
  light-blue-color: #64ccda,
  orange-color: #e6a157,
  pink-color: #b52b65,
  dark-purple-color: #2d4059,
  cream-color: #f7faf6,
  card-box-shadow: rgba(0, 0, 0, 0.1),
  violet-blue-color: #5099ff,
  red-color: #ba1818,
);
